{% extends 'base.html'%}
{% block content %}

<h1>Files</h1>
<a href="{% url 'file_upload' %}" class='btn btn-outline-secondary btn-sm'>New File</a><br><br>
<table class='table table-striped table-hover table-bordered'>
    <tr style="background-color: #AC97CC;"><th>Name</th><th>File</th><th>Load into Database</th><th>Delete</th></tr>
    {% for item in list %}
    <tr>
        <td> {{item.name }} </td>
        <td>
            <a href="{{ item.document.url }}" target="_blank">{{ item.document.url }}</a>
        </td>
        <td>
            {% if item.name == "Skills" %}
                <a href="{% url 'skill_cat_upload' item.pk %}" class='btn btn-outline-secondary btn-sm'>Upload Competencies Categories</a><br>
                <a href="{% url 'skill_upload' item.pk %}" class='btn btn-outline-secondary btn-sm'>Upload Competencies</a>
            {% endif %}
            {% if item.name == "People" %}
                <a href="{% url 'people_upload' item.pk %}" class='btn btn-outline-secondary btn-sm'>Upload People</a>
            {% endif %}
            {% if item.name == "Colours" or item.name == "Colour"%}
                <a href="{% url 'colour_upload' item.pk %}" class='btn btn-outline-secondary btn-sm'>Upload Colours</a>
            {% endif %}
        </td>
        <td>
            <form method="post" action="{% url 'file_delete' item.pk %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

<br><br>
{% endblock %}
