{% extends 'base.html'%}
{% block content %}
{% load static %}
<div class="row">
    <div class="col-sm-5">
        <h1>{{item}} {{item.type_x}}
        {% if item.parent is None %}
            <a href='{% url 'notes_list' %}' class='btn btn-outline-secondary btn-sm'>Home Page</a>
        {% else %}
            <a href='{% url 'ind' item.parent.id %}' class='btn btn-outline-secondary btn-sm'>Back to {{ item.parent }}</a>
        {% endif %}
        </h1>
        {% if item.type == "Person" %}
        {{ item.next_birthday |date:"j M Y"}}
        {% endif %}

        <p>{{item.description|safe|linebreaksbr}}</p>
            <form action='' method=POST>
                {% csrf_token %}
                <table class="table table-striped table-hover table-bordered">
                    {% for x in form %}
                    <tr>
                        <td style="width:50%">{{ x.label }}{{ x }}</td>
                    </tr>
                    {% endfor %}
                    </tr>
                </table>
                <input type = 'submit' value = 'Update' class='btn btn-outline-secondary btn-sm'>
            </form>
    </div>
    <div class="col-sm-7">
        <h3>Children (3 Levels)</h3>
        {% if item.parent.parent is not None %}
            <a href='{% url 'ind' item.parent.parent.id %}' >{{item.parent.parent}}</a>
            /
        {% endif %}
        {% if item.parent is not None %}
            <a href='{% url 'ind' item.parent.id %}' >{{item.parent}}</a>
            / {{item.name}}
            <a href='{% url 'parent' item.id %}'>(change parent)</a>
        {% else %}
            {{item.name}}
            <a href='{% url 'parent' item.id %}'>(add parent)</a>
        {% endif %}
        {% if item.has_children %}
            <ul>
            {% for a in item.children %}
            <li><a href='{% url 'ind' a.id %}' >{{a}}</a> {{a.type_x}}</li>
                {% if a.has_children %}
                    <ul>
                        {% for b in a.children %}
                        <li><a href='{% url 'ind' b.id %}' >{{b}}</a> {{b.type_x}}</li>
                        {% if b.has_children %}
                            <ul>
                                {% for c in b.children %}
                                <li><a href='{% url 'ind' c.id %}' >{{c}}</a> {{c.type_x}}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}


                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>



{% for x, xp in types %}
<h3>{{xp}} <a href='{% url 'new' x item.id item.id %}' class='btn btn-outline-secondary btn-sm'>New {{x}}</a></h3>
<table class='table table-striped table-hover table-bordered'>
    <tr><th>Item</th><th>Description</th><th>Action</th></tr>
    {% for y in item.children %}
    {% if y.type == x %}
    <tr>
        <td>
            <a href='{% url 'ind' y.id %}' >{{y}}</a>
        </td>
        <td>
            {{y.description | linebreaks}}
        </td>
        <td><a href='{% url 'delete' y.id %}' class='btn btn-outline-secondary btn-sm'>Delete</a></td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
<br>
{% endfor %}


<br><br>
{% endblock %}