{% extends 'base.html'%}
{% block content %}

<h1>Competency Table: {{person.name}}</h1>
<table class='table table-striped table-hover table-bordered'>
    <tr style="background-color: #AC97CC;">
        <th>Category</th><th>Sub-category</th>
        {% for level in levels %} <th style="text-align:center; min-width:110px">{{ level }}</th>{% endfor %}
        <th style="background-color: #ff7800; text-align:center; min-width:110px">Target</th>

    </tr>
    {% for item in sub_categories %}
    <tr{% ifchanged item.category %} style="background-color: #D7CCE6;" {% endifchanged %}>
        <td>{{ item.category }}</td>
        <td>{{ item.sub_category }}</td>
    {% for level in levels %}
            <td style="text-align:center">
                <a href='{% url 'people_skill_update' person.id item.id level.id %}' class='btn btn-outline-secondary btn-sm'>
                {% if forloop.counter == 1 %} {% if item.score1 == 0 %} {% else %} {{item.score1}} / 5.0 {% endif %} {% endif %}
                {% if forloop.counter == 2 %} {% if item.score2 == 0 %} {% else %} {{item.score2}} / 5.0 {% endif %} {% endif %}
                {% if forloop.counter == 3 %} {% if item.score3 == 0 %} {% else %} {{item.score3}} / 5.0 {% endif %} {% endif %}
                {% if forloop.counter == 4 %} {% if item.score4 == 0 %} {% else %} {{item.score4}} / 5.0 {% endif %} {% endif %}
            </a></td>
    {% endfor %}
    <td {% ifchanged item.category %} style="background-color: #FFAC62;text-align:center" {% else %} style="background-color:#FFD1A8;text-align:center"{% endifchanged %}>
        <a href='{% url 'people_target_update' person.id item.id "0" %}' class='btn btn-outline-secondary btn-sm'>F</a>
        <a href='{% url 'people_target_update' person.id item.id "1" %}' class='btn btn-outline-secondary btn-sm'>I</a>
        <a href='{% url 'people_target_update' person.id item.id "2" %}' class='btn btn-outline-secondary btn-sm'>A</a>
        <a href='{% url 'people_target_update' person.id item.id "3" %}' class='btn btn-outline-secondary btn-sm'>E</a>
        <br><b>{{ item.target }}</b>
        </a>
    </td>
    </tr>
    {% endfor %}
</table><br><br>


{% endblock %}
