{% extends 'base.html'%}
{% block content %}

{% if error %}
    <style>.purple {color:purple; }</style>
    <p class = purple>Either the file or the sheet could not be found.</p>
{% endif %}

<h1>{{person.name}}</h1>

<h1>Competency Table</h1>
<table class='table table-striped table-hover table-bordered'>
    <tr style="background-color: #AC97CC;">
        <th>Category</th><th>Sub-category</th>
        {% for level in levels %} <th>{{ level }}</th>{% endfor %}

    </tr>
    {% for item in rows %}
    <tr{% ifchanged item.category %} style="background-color: #D7CCE6;" {% endifchanged %}>
        <td>{{ item.category }}</td>
        <td>{{ item.sub_category }}</td>
    {% for level in levels %}
            <td><a href='{% url 'skill_ind' item.id level.id %}' class='btn btn-outline-secondary btn-sm'> Detail </a></td>
    {% endfor %}
    </tr>
    {% endfor %}
</table><br><br>

<h1>Competencies</h1>
<table class='table table-striped table-hover table-bordered'>
    <tr style="background-color: #AC97CC;">
        <th>Category</th><th>Sub-category</th><th>Level</th><th>Question</th><th>Actions</th><th>Delete</th>
    </tr>
    {% for item in list %}
    <tr{% ifchanged item.sub_category.category %} style="background-color: #D7CCE6;" {% endifchanged %}>
        <td> {{ item.sub_category.category }} </td>
        <td> {{ item.sub_category }}  </td>
        <td> {{ item.level }} </td>
        <td> {{ item.question }}</td>
        <td><a href='{% url 'skill_update' item.id %}' class='btn btn-outline-secondary btn-sm'> Update </a></td>
        <td><a href='{% url 'skill_delete' item.id %}' class='btn btn-outline-secondary btn-sm'> Delete </a></td>

    </tr>
    {% endfor %}
</table>
<a href='{% url 'skill_delete_all' %}' class='btn btn-outline-secondary btn-sm'> Delete all </a>


<br><br>



{% endblock %}
